*{
    background-color: #dde5b6;
}

header{
    position: absolute;
    top: 0;
    left: 0;
 }

.coverphoto{
    width: 1533px;
    height: 300px;
    border: 2px solid #718355;
}

.profpic{
   display: flex;
   width: 10px;
   height: 10px;
   background-color: #f0f0f0;
   padding: 185px 0px 0px 50px;
}

.pfp{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #718355; 
    z-index: 100;
}

.name{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #61a5c2;
    padding: 100px 0px 0px 270px;
    margin-bottom: 0;
}

.quote{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #b08968;
    padding: 7px 0px 0px 275px;
    margin-top: 0;
}

.about-me{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #f2a5b3;
    padding: 25px 0px 0px 35px;
    margin-bottom: 0;
}

.info{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #b08968;
    padding: 0px 0px 0px 35px;
    margin-top: 0;
}

.gallery{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #61a5c2;
    padding: 25px 0px 0px 35px;
    margin-bottom: 0;
}

.did{
    height: 200px;
}

.svt{
    height: 200px;
}

.hannie{
    height: 200px;
}

.coke{
    height: 200px;
}

.hq{
    height: 200px;
}

.jjk{
    height: 200px;
}

.jeonghan{
    height: 200px;
}

.orange{
    height: 200px;
}

.me{
    height: 200px;
}

.ot13{
    height: 200px;
}

.ash{
    height: 200px;
}

.spotify{
    height: 200px;
}

.tsukki{
    height: 200px;
}

.niki{
    height: 200px;
}

.satoru{
    height: 200px;
}

.symbol{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #b08968;
    padding: 40px 0px 0px 40px;
    margin-bottom: 0;
    margin-right: 0;
}

.liked-videos{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #a0b569;
    padding: 85px 1175px 0px 0px;
    margin-bottom: 0;
}

.lv{
    margin-top: 0;
    display: flex; 
    justify-content: space-between; 
    gap: 10px;
}

.embed{
    padding: 20px 0px 25px 40px;
}

.line{
    width: 95%; 
    height: 3px; 
    background-color: #61a5c2; 
    border: none; 
    margin-top: 30px;
    margin-bottom: 50px;
}
